snippet she
#!/bin/sh
endsnippet

snippet she.hs "Stack script shebang"
#!/usr/bin/env stack
-- stack --resolver lts-12.21 script
endsnippet

snippet she.py "Python script shebang"
#!/usr/bin/env python3
endsnippet
