# Example
# if ${2:[[ ${1:condition} ]]}; then
# 				${0:#statements}
# fi

snippet overstr "More types are treated like String"
{-# LANGUAGE OverloadedStrings #-}
endsnippet

snippet db "Import debug library"
import Debug.Trace
endsnippet
