snippet talon "template for talon module"
from talon import Module, Context

mod = Module()
ctx = Context()
endsnippet

snippet stream "Generic functional programming stream"
$2(
	$3,
	$1
)
endsnippet

snippet forline "Read a file line by line"
with open(${1:FILENAME}) as f:
	for line in f:
		line = line.strip()

		${0:BODY}
endsnippet

snippet forstd "Read stdin line by line" b
for line in sys.stdin:
	line = line.strip()

	${0:BODY}
endsnippet
