snippet talon "template for talon module"
from talon import Module, Context

${1:imports}

mod = Module()
ctx = Context()

@mod.action_class
class Actions:
    def ${2:action_name}():
        "${3:DESCRIPTION}"
        "${4:BODY}"
endsnippet

snippet fstream "Generic functional programming stream"
${1:STREAM_PROCESSOR}(
	${2:FN},
	${3:STREAM}
)
endsnippet
